*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: auto;
}

header
{
    font-weight: bolder;
    font-size: 30px;
    background-color: #e4e5ee; /* light blue*/
    padding: 20px;
    color: gray;
}

.gray
{
    color: gray;
    background: none;
    font-family: "Times New Roman", serif;
    font-size: 16px;
}

.headerLink
{
    display: inline-block;
    padding: 15px;
    color: gray;
    border-right: 1px solid darkgray;
    text-decoration: none;
    margin-right: -4px;
    margin-bottom: -4px;
}

.current-category
{
    background: #e0e0e0;
}

ul
{
    display: inline;
}

li
{
    display: inline;
}

nav
{
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}