<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link href="/css/navbar.css" rel="stylesheet" type="text/css">
        <link href="/css/main-part.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <header>About us</header>

        <div th:replace="fragments/header :: siteHeader"></div>

        <div class="main-part">
            <p th:text="#{about.description}"></p>
        </div>
    </body>
</html>