<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/main-part.css" rel="stylesheet" type="text/css">
    <link href="/css/add-item.css" rel="stylesheet" type="text/css">
    <script src="/js/addRow.js"></script>
    <script src="/js/deleteRow.js"></script>
    <script src="/js/ensureFilesAreImages.js"></script>
    <script src="/js/ensureLogoIsImage.js"></script>
    <script src="/js/resetAddingForm.js"></script>
    <script src="/js/limitNumberOfUploadedFiles.js"></script>
</head>
<body>

<header>Admin</header>

<div th:replace="~{fragments/header :: siteHeader}"></div>

<div class="main-part">
    <form enctype="multipart/form-data" method="post" th:action="@{/admin/add-item}" th:object="${newItemDTO}">

        <div class="gray-text-label" th:text="#{add-item.createNewItem}"></div>
        <br>

        <div class="add-item-grid">

            <!-- item name input -->
            <div>
                <label class="gray-text-label" for="name" th:text="#{add-item.itemName}"></label>
            </div>
            <div>
                <input class="text-field" id="name" name="name" placeholder="Enter item name" required
                       th:field="*{name}" type="text">
                <div class="red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name errors</div>
            </div>

            <!-- price input -->
            <div>
                <label class="gray-text-label" for="price" th:text="#{add-item.price}"></label>
            </div>
            <div>
                <input class="text-field" id="price" name="price" placeholder="Enter price" required
                       th:field="*{price}" type="text">
                <div class="red" th:errors="*{price}" th:if="${#fields.hasErrors('price')}">Price errors</div>
            </div>

            <!-- amount input -->
            <div>
                <label class="gray-text-label" for="amount" th:text="#{add-item.amount}"></label>
            </div>
            <div>
                <input class="text-field" id="amount" name="amount" placeholder="Enter amount" required
                       th:field="*{amount}" type="text">
                <div class="red" th:errors="*{amount}" th:if="${#fields.hasErrors('amount')}">Amount errors</div>
            </div>

            <!-- description -->
            <div>
                <label class="gray-text-label" for="description" th:text="#{add-item.description}"></label>
            </div>
            <div>
                    <textarea class="text-field" cols="50" id="description" name="description" placeholder="Enter description"
                              rows="8" th:field="*{description}"></textarea>
                <div class="red" th:errors="*{description}" th:if="${#fields.hasErrors('description')}">Description
                    errors
                </div>
            </div>

            <!-- logo input -->
            <div>
                <label class="gray-text-label" for="logo-input" th:text="#{add-item.logo}"></label>
            </div>
            <div>
                <label class="image-input-label" for="logo-input" id="logo-input-label"
                       th:text="#{add-item.logoButton}"></label>
            </div>
            <input accept="image/*" class="display-none" id="logo-input" name="logo"
                   onchange="ensureLogoIsImage(this)" type="file">

            <!-- images input -->
            <div>
                <label class="gray-text-label" for="images-input" th:text="#{add-item.images}"></label>
            </div>
            <div>
                <label class="image-input-label" for="images-input" id="images-input-label"
                       th:text="#{add-item.imagesButton}"></label>
            </div>
            <input accept="image/*" class="display-none" id="images-input" multiple
                   name="images"
                   onchange="ensureFilesAreImages(this); limitNumberOfUploadedFiles(this, 10)" type="file">

        </div>

        <!-- specs input -->
        <div class="gray-text-label" th:text="#{add-item.specs}"></div>
        <div id="specsForm">
            <!-- add button inserts rows here to create specs -->
        </div>

        <!-- this button adds a new row -->
        <button class="big-sign" onclick="addRow()" type="button">+</button>
        <br>

        <!-- reset button -->
        <input class="red-button" id="reset" onclick="resetAddingForm()" type="reset" value="Reset">
        <br>

        <!-- send button -->
        <input class="green-button" id="send" type="submit" value="Send">
    </form>
</div>

</body>
</html>