<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cart</title>
        <link href="/css/navbar.css" rel="stylesheet" type="text/css">
        <link href="/css/main-part.css" rel="stylesheet" type="text/css">
        <script src="/js/increaseAmountToPurchase.js"></script>
        <script src="/js/decreaseAmountToPurchase.js"></script>
        <script src="/js/deleteOrderById.js"></script>
        <script src="/js/checkIfAllItemsInStockAndSendForm.js"></script>
    </head>
    <body>
        
        <header>Cart</header>

        <div th:replace="fragments/header :: siteHeader"></div>
        
        <div class="main-part">
            <form th:action="@{/cart/buy-orders}" method="post" id="purchase-form">
                
                <div th:each="order: ${orders}" class="gray-box margin">
                    
                    <!-- logo -->
                    <img th:if="${order.getItem().getLogoName() != null}"
                         th:src="${logoFolder + order.getItem().getLogoName()}"
                         width="90px" height="90px" class="object-fit-contain"/>
                    <!-- if logo is not present -->
                    <img th:if="${order.getItem().getLogoName() == null}" src="/images/default-logo-image"
                         width="90px" height="90px" class="object-fit-contain"/>
                    <br>
                    
                    <!-- item name -->
                    <b><a th:text="${order.getItem().getName()}" th:href="${'/catalog/' + order.getItem().getId()}"></a></b>
                    <br>
                    
                    <span th:text="#{cart.amountInStore}"></span>
                    <span class="stored-amount" th:text="${order.getItem().getAmount()}"></span>
                    <br>
                    
                    <span th:text="#{cart.amountToPurchase}"></span>
                    <button type="button" class="small-sign" onclick="decreaseAmountToPurchase(this)">-</button>
                    <span class="amount-to-purchase-label" th:text="${order.getAmount()}"></span>
                    <input type="hidden" class="amount-to-purchase-field" th:value="${order.getAmount()}"
                           name="amount_to_purchase">
                    <button type="button" class="small-sign" onclick="increaseAmountToPurchase(this)">+</button>
                    <br>
                    
                    <div th:text="'Price: ' + ${order.getItem().getPrice()} + ' grn'"></div>
                    
                    <!-- delete item button (another form) -->
                    <button type="button" class="red-button" th:onclick="'deleteOrderById(' + ${order.getId()} + ')'" th:text="#{cart.delete}"></button>
                </div>
                
                <br>
    
                <!-- buy button -->
                <button form="purchase-form" class="green-button" th:if="${orders.size() > 0}" type="button"
                        onclick="checkIfAllItemsInStockAndSendForm()">
                    <span th:text="#{cart.buyOrders}"></span>
                </button>
                
            </form>
        </div>
        
        <!-- delete form -->
        <form id="delete-order-form" th:action="@{/cart/delete-order}" method="post">
        </form>
        <br>
        
    </body>
</html>