<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Catalog</title>
        <link href="/css/navbar.css" rel="stylesheet" type="text/css">
        <link href="/css/main-part.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <header>Catalog</header>

        <div th:replace="fragments/header :: siteHeader"></div>

        <div class="main-part">
            <div class="gray-box margin" th:each="item : ${items}">
                
                <!-- logo -->
                <img th:if="${item.getLogoName() != null}" th:src="${logoFolder + item.getLogoName()}"
                     width="90px" height="90px" class="object-fit-contain"/>
                <!-- if logo is not present -->
                <img th:if="${item.getLogoName() == null}" src="/images/default-logo-image"
                     width="90px" height="90px" class="object-fit-contain"/>
                <br>
                
                <!-- name -->
                <b><div th:text="${item.getName()}"></div></b>
                
                <!-- price -->
                <div>
                    <span th:text="#{catalog.price}"></span>
                    <span th:text="${item.getPrice()}"></span>
                </div>
                
                <!-- amount -->
                <div>
                    <span th:text="#{cart.amountInStore}"></span>
                    <span th:text="${item.getAmount()}"></span>
                </div>
                
                <!-- if item is out of stock -->
                <div th:if="${item.getAmount == 0}" class="red" th:text="#{catalog.outOfStock}"></div>
                
                <!-- details button -->
                <a th:href="${'/catalog/' + item.getId()}">
                    <button class="gray-button" th:text="#{catalog.watchDetails}"></button>
                </a>
                <br>
                
                <!-- update button if ROLE == ROLE_ADMIN -->
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/admin/update-item/' + item.getId()}">
                    <button class="gray-button" th:text="#{catalog.update}"></button>
                </a>
                
                <!-- delete button if ROLE == ROLE_ADMIN -->
                <form sec:authorize="hasRole('ROLE_ADMIN')" method="post" th:action="@{/admin/delete-item}">
                    <input type="hidden" name="id" th:value="${item.getId()}">
                    <button type="submit" class="red-button" th:text="#{catalog.delete}"></button>
                </form>
                
            </div>
        </div>
    
    </body>
</html>