<!DOCTYPE html>
<html lang="en" xmlns:sec="www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/main-part.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>Catalog</header>

<div th:replace="~{fragments/header :: siteHeader}"></div>

<div class="main-part">
    <div class="gray-box margin" th:each="item : ${items}">

        <!-- logo -->
        <img class="object-fit-contain" height="90px"
             th:if="${item.getLogoName() != null}" th:src="${logoFolder + item.getLogoName()}" width="90px"/>
        <!-- if logo is not present -->
        <img class="object-fit-contain" height="90px"
             src="/images/default-logo-image" th:if="${item.getLogoName() == null}" width="90px"/>
        <br>

        <!-- name -->
        <b>
            <div th:text="${item.getName()}"></div>
        </b>

        <!-- price -->
        <div>
            <span th:text="#{catalog.price}"></span>
            <span th:text="${item.getPrice()}"></span>
        </div>

        <!-- amount -->
        <div>
            <span th:text="#{cart.amountInStore}"></span>
            <span th:text="${item.getAmount()}"></span>
        </div>

        <!-- if item is out of stock -->
        <div class="red" th:if="${item.getAmount == 0}" th:text="#{catalog.outOfStock}"></div>

        <!-- details button -->
        <a th:href="${'/catalog/' + item.getId()}">
            <button class="gray-button" th:text="#{catalog.watchDetails}"></button>
        </a>
        <br>

        <!-- update button if ROLE == ROLE_ADMIN -->
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/admin/update-item/' + item.getId()}">
            <button class="gray-button" th:text="#{catalog.update}"></button>
        </a>

        <!-- delete button if ROLE == ROLE_ADMIN -->
        <form method="post" sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/admin/delete-item}">
            <input name="id" th:value="${item.getId()}" type="hidden">
            <button class="red-button" th:text="#{catalog.delete}" type="submit"></button>
        </form>

    </div>
</div>

</body>
</html>