<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/main-part.css" rel="stylesheet" type="text/css">
    <link href="/css/change-password.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>Profile</header>

<div th:replace="~{fragments/header :: siteHeader}"></div>

<div class="main-part">
    <div class="gray-text-label" th:text="#{change-password.changePassword}"></div>
    <br>

    <form id="password-form" method="post" th:action="@{/profile/change-password}" th:object="${updatePasswordDTO}">

        <div class="change-password-grid">

            <!-- new password -->
            <div>
                <label class="gray-text-label" for="new-password" th:text="#{change-password.enterPassword}"></label>
            </div>
            <div>
                <input class="text-field" id="new-password" name="new_password" required
                       th:field="*{password}" type="password">
                <div class="red" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
            </div>

            <!-- repeat new password -->
            <div>
                <label class="gray-text-label" for="repeated-new-password"
                       th:text="#{change-password.repeatPassword}"></label>
            </div>
            <div>
                <input class="text-field" id="repeated-new-password" name="repeated_new_password"
                       required th:field="*{repeatedPassword}" type="password">
                <div class="red" th:errors="*{repeatedPassword}"
                     th:if="${#fields.hasErrors('repeatedPassword')}"></div>
            </div>

        </div>
        <br>

        <button class="green-button" id="submit-button" onclick="checkIfPasswordsMatch()"
                th:text="#{change-password.update}">Update
        </button>

    </form>
</div>
</body>
</html>