<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete account</title>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/main-part.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>Profile</header>

<div th:replace="~{fragments/header :: siteHeader}"></div>

<div class="main-part">
    <div class="gray-text-label" th:text="#{delete-account.confirmation}"></div>
    <br>
    <form method="post" th:action="@{/profile/delete-account}">
        <button class="red-button" th:text="#{delete-account.yesButton}" type="submit"></button>
    </form>
</div>

</body>
</html>