<!DOCTYPE html>
<html lang="en" xmlns:sec="www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.getName()}">Title</title>
    <link href="/css/main-part.css" rel="stylesheet" type="text/css">
    <link href="/css/item.css" rel="stylesheet" type="text/css">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
</head>
<body>

<div th:replace="~{fragments/header :: siteHeader}"></div>

<!-- name -->
<div class="black-text-label" th:text="${item.getName()}"></div>

<!-- logo -->
<img class="object-fit-contain"
     height="90px"
     th:if="${item.getLogoName() != null && !item.getLogoName().equals('')}" th:src="${logoFolder + item.getLogoName()}" width="90px"/>
<!-- if logo is not present -->
<img class="object-fit-contain" height="90px"
     src="/images/default-logo-image" th:if="${item.getLogoName() == null || item.getLogoName().equals('')}" width="90px"/>
<br>

<!-- images -->
<span th:each="image : ${item.getImageNames()}" th:if="${item.getImageNames() != null}">
            <img class="object-fit-contain" height="250px" th:src="${imagesFolder + image}" width="250px"/>
        </span>
<br>

<!-- price -->
<div>
    <span class="black-text-label gray-box" th:text="#{item.price}"></span>
    <span class="black-text-label gray-box" th:text="${item.getPrice()}"></span>
</div>
<br>

<!-- amount -->
<div>
    <span class="black-text-label gray-box" th:text="#{item.amount}"></span>
    <span class="black-text-label gray-box" th:text="${item.getAmount()}"></span>
</div>
<br>

<!-- description -->
<p class="black-text-label gray-box"
   th:if="${item.getDescription() != null && !item.getDescription().equals('')}" th:text="${item.getDescription()}"></p>
<br>
<br>

<!-- specs -->
<div th:if="${item.getSpecs() != null && item.getSpecs().size() > 0}">
    <div class="black-text-label gray-box" th:text="#{item.specs}"></div>
    <table class="specs-table">
        <tr th:each="spec : ${item.getSpecs()}">
            <td class="text-field" th:text="${spec.key}"></td>
            <td class="text-field" th:text="${spec.value}"></td>
        </tr>
    </table>
</div>

<!-- buy button if (ROLE == ROLE_USER && amount > 0) -->
<form method="post" sec:authorize="hasRole('ROLE_USER')" th:action="@{/cart/add-order}"
      th:if="${!alreadyOrdered && item.getAmount() > 0}">
    <input name="item-id" th:value="${item.getId()}" type="hidden">
    <button class="green-button" th:text="#{item.orderButton}" type="submit"></button>
</form>

<!-- "you already bought it" label if (ROLE == ROLE_USER && user already bought it) -->
<div class="red" th:if="${alreadyOrdered}" th:text="#{item.wasAlreadyOrdered}">
</div>

<!-- "out of stock" label if (amount == 0) -->
<div class="red" th:if="${item.getAmount() == 0}" th:text="#{item.itemIsOutOfStock}"></div>

</body>
</html>