<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/main-part.css" rel="stylesheet" type="text/css">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>Login</header>

<div th:replace="~{fragments/header :: siteHeader}"></div>

<form method="post" th:action="@{/login}">
    <div class="main-part">

        <!-- error message -->
        <div th:if="${param.error}">
            <span class="bigger red" th:text="#{login.invalidCredentials}"></span>
        </div>

        <div class="login-grid">

            <!-- username input label -->
            <div>
                <label class="gray-text-label" for="username" th:text="#{login.username}"></label>
            </div>

            <!-- username input -->
            <div>
                <input class="text-field" id="username" name="username" placeholder="enter username" type="text">
            </div>

            <!-- password input label -->
            <div>
                <label class="gray-text-label" for="password" th:text="#{login.password}"></label>
            </div>

            <!-- password input -->
            <div>
                <input class="text-field" id="password" name="password" placeholder="enter password" type="password">
            </div>

        </div>

        <br>

        <!-- remember me checkbox -->
        <input checked id="remember-me" name="remember-me" type="checkbox">
        <label class="gray-text-label" for="remember-me" th:text="#{login.rememberMe}"></label>
        <br>

        <!-- Login Button -->
        <button class="green-button" th:text="#{login.logIn}" type="submit"></button>

    </div>
</form>
</body>
</html>