<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/main-part.css" rel="stylesheet" type="text/css">
    <link href="/css/registration.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>Registration</header>

<div th:replace="~{fragments/header :: siteHeader}"></div>

<div class="main-part">
    <div class="gray-text-label" th:text="#{registration.enterYourData}"></div>
    <br>

    <form method="post" th:action="@{/registration}" th:object="${userRegistrationDTO}">

        <div class="registration-grid">

            <!-- name -->
            <div>
                <label class="gray-text-label" for="name" th:text="#{registration.name}"></label>
            </div>
            <div>
                <input class="text-field" id="name" placeholder="Enter name" th:field="*{name}" type="text"/>
            </div>
            <div>
                <div th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name error</div>
            </div>

            <!-- surname -->
            <div>
                <label class="gray-text-label" for="surname" th:text="#{registration.surname}"></label>
            </div>
            <div>
                <input class="text-field" id="surname" placeholder="Enter surname" th:field="*{surname}"
                       type="text"/>
            </div>
            <div>
                <div th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}">Surname error</div>
            </div>

            <!-- email -->
            <div>
                <label class="gray-text-label" for="email" th:text="#{registration.email}"></label>
            </div>
            <div>
                <input class="text-field" id="email" placeholder="Enter email" th:field="*{email}" type="text"/>
            </div>
            <div>
                <div th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email error</div>
            </div>

            <!-- password -->
            <div>
                <label class="gray-text-label" for="password" th:text="#{registration.password}"></label>
            </div>
            <div>
                <input class="text-field" id="password" placeholder="Enter password" th:field="*{password}"
                       type="password"/>
            </div>
            <div>
                <div th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password error</div>
            </div>

            <!-- repeated password -->
            <div>
                <label class="gray-text-label" for="repeated-password"
                       th:text="#{registration.repeatedPassword}"></label>
            </div>
            <div>
                <input class="text-field" id="repeated-password" placeholder="Repeat password" th:field="*{repeatedPassword}"
                       type="password"/>
            </div>
            <div>
                <div th:errors="*{repeatedPassword}" th:if="${#fields.hasErrors('repeatedPassword')}">Repeated
                    password error
                </div>
            </div>

            <!-- telephone number -->
            <div>
                <label class="gray-text-label" for="telephone-number" th:text="#{registration.telephoneNumber}"></label>
            </div>
            <div>
                <input class="text-field" id="telephone-number" placeholder="Enter telephone number" th:field="*{telephoneNumber}"
                       type="text"/>
            </div>
            <div>
                <div th:errors="*{telephoneNumber}" th:if="${#fields.hasErrors('telephoneNumber')}">Telephone number
                    error
                </div>
            </div>

            <!-- country -->
            <div>
                <label class="gray-text-label" for="country" th:text="#{registration.country}"></label>
            </div>
            <div>
                <input class="text-field" id="country" placeholder="Enter country" th:field="*{country}"
                       type="text"/>
            </div>
            <div>
                <div th:errors="*{country}" th:if="${#fields.hasErrors('country')}">Country error</div>
            </div>

            <!-- address -->
            <div>
                <label class="gray-text-label" for="address" th:text="#{registration.address}"></label>
            </div>
            <div>
                <input class="text-field" id="address" placeholder="Enter address" th:field="*{address}"
                       type="text"/>
            </div>
            <div>
                <div th:errors="*{address}" th:if="${#fields.hasErrors('address')}">Address error</div>
            </div>

        </div>

        <br>

        <button class="green-button" th:text="#{registration.register}" type="submit"></button>

    </form>
</div>

</body>
</html>