<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update item</title>
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/main-part.css" rel="stylesheet" type="text/css">
    <link href="/css/update-item.css" rel="stylesheet" type="text/css">
    <script src="/js/addRow.js"></script>
    <script src="/js/deleteRow.js"></script>
    <script src="/js/ensureFilesAreImages.js"></script>
    <script src="/js/ensureLogoIsImage.js"></script>
    <script src="/js/resetAddingForm.js"></script>
    <script src="/js/limitNumberOfUploadedFiles.js"></script>
    <script src="/js/concealLogoInput.js"></script>
    <script src="/js/concealImagesInput.js"></script>
</head>
<body>

<header>Admin</header>

<div th:replace="~{fragments/header :: siteHeader}"></div>

<div class="main-part">
    <form enctype="multipart/form-data" method="post" th:action="@{/admin/update-item}" th:object="${updateItemDTO}">

        <div class="gray-text-label" th:text="#{update-item.updateItem}"></div>
        <br>

        <div class="update-item-grid">

            <!-- id -->
            <input name="id" th:field="*{id}" th:value="${updateItemDTO.getId()}" type="hidden">

            <!-- item name input -->
            <div>
                <label class="gray-text-label" for="name" th:text="#{update-item.itemName}"></label>
            </div>
            <div>
                <input class="text-field" id="name" name="name" placeholder="Enter item name" required
                       th:field="*{name}" th:value="${updateItemDTO.getName()}" type="text">
                <div class="red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name errors</div>
            </div>

            <!-- price input -->
            <div>
                <label class="gray-text-label" for="price" th:text="#{update-item.price}"></label>
            </div>
            <div>
                <input class="text-field" id="price" name="price" placeholder="Enter price" required
                       th:field="*{price}" th:value="${updateItemDTO.getPrice()}" type="text">
                <div class="red" th:errors="*{price}" th:if="${#fields.hasErrors('price')}">Price errors</div>
            </div>

            <!-- amount input -->
            <div>
                <label class="gray-text-label" for="amount" th:text="#{update-item.amount}"></label>
            </div>
            <div>
                <input class="text-field" id="amount" name="amount" placeholder="Enter amount" required
                       th:field="*{amount}" th:value="${updateItemDTO.getAmount()}" type="text">
                <div class="red" th:errors="*{amount}" th:if="${#fields.hasErrors('amount')}">Amount errors</div>
            </div>

            <!-- description -->
            <div>
                <label class="gray-text-label" for="description" th:text="#{update-item.description}"></label>
            </div>
            <div>
                        <textarea class="text-field" cols="50" id="description" name="description" placeholder="Enter description"
                                  rows="8" th:field="*{description}"
                                  th:text="${updateItemDTO.getDescription()}"></textarea>
                <div class="red" th:errors="*{description}" th:if="${#fields.hasErrors('description')}">Description
                    errors
                </div>
            </div>

            <!-- logo -->
            <div>
                <label class="gray-text-label" for="logo-input" id="logo-label" th:text="#{update-item.chooseALogo}">
                </label>
            </div>
            <div>
                <label class="image-input-label" for="logo-input" id="logo-input-label"
                       th:text="#{update-item.chooseAnImageFile}">
                </label>
            </div>
            <div>
                <input accept="image/*" class="display-none" id="logo-input" name="logo" onchange="ensureLogoIsImage(this)"
                       type="file">
            </div>
            <!-- delete previous logo checkbox -->
            <div th:if="${updateItemDTO.getLogoName() != null}">
                <input id="delete-previous-logo" name="delete-previous-logo" onchange="concealLogoInput()"
                       type="checkbox">
                <label class="gray-text-label" for="delete-previous-logo"
                       th:text="#{update-item.deletePreviousLogo}"></label>
            </div>

            <!-- images -->
            <div>
                <label class="gray-text-label" for="images-input" id="images-label"
                       th:text="#{update-item.chooseImagesLabel}">
                </label>
            </div>
            <div>
                <label class="image-input-label" for="images-input" id="images-input-label"
                       th:text="#{update-item.chooseImagesButton}">
                </label>
            </div>
            <div>
                <input accept="image/*" class="display-none" id="images-input" multiple
                       name="images"
                       onchange="ensureFilesAreImages(this); limitNumberOfUploadedFiles(this, 10)" type="file">
            </div>

            <!-- delete previous images checkbox -->
            <div th:if="${updateItemDTO.getImageNames() != null && updateItemDTO.getImageNames().size() > 0}">
                <input id="delete-previous-images" name="delete-previous-images" onchange="concealImagesInput()"
                       type="checkbox">
                <label class="gray-text-label" for="delete-previous-images"
                       th:text="#{update-item.deletePreviousImages}"></label>
            </div>

        </div>
        <br>

        <!-- specs input -->
        <div class="gray-text-label" th:text="#{update-item.specs}"></div>
        <div id="specsForm">
            <div th:each="spec : ${updateItemDTO.getSpecs()}">
                <input class="text-field" name="spec-names" placeholder="spec name" th:value="${spec.key}"
                       type="text">
                <input class="text-field" name="spec-values" placeholder="spec value" th:value="${spec.value}"
                       type="text">
                <button class="big-sign" onclick="deleteRow(this)" type="button">-</button>
                <br>
            </div>
            <!-- add button inserts here rows to create specs -->
        </div>

        <!-- this button adds a new row -->
        <button class="big-sign" onclick="addRow()" type="button">+</button>
        <br>

        <!-- reset button -->
        <input class="red-button" id="reset" onclick="resetAddingForm()" type="reset" value="Reset">
        <br>

        <!-- send button -->
        <input class="green-button" id="send" type="submit" value="Send">

    </form>
</div>

</body>
</html>